@import url(./__container/comments__container.css);

.comments {
    width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 102px auto 0;
}
@media all and (max-width: 1279px) {
    .comments {
        width: 928px;
    }
}

@media all and (max-width: 1023px) {
    .comments  {
        width: 720px;
    }
}

@media all and (max-width: 767px) {
    .comments  {
        width: 92%;
        margin: 64px auto 0;
    }
}

@media all and (max-width: 374px) {
    .comments  {
        width: 90%;
    }
}