.comment__autor {
    max-width: 382px;
    font-family: 'Inter', Arial, sans-serif; 
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}
@media all and (max-width: 1023px) {
    .comment__autor  {
        order: 2; 
        margin: 0 0 24px; 
    }
}