@import url(../../comment/comment.css);

.comments__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 1023px) {
    .comments__container  {
        flex-direction: column;
    }
}