@import url(../__icon/video__icon.css);
@import url(../__title/video__title.css);
@import url(../__subtitle/video__subtitle.css);
@import url(../__duration/video__duration.css);

.video__item {
    width: calc((100% - 18px)/2);
    position: relative; 
    border-radius: 5px;
    text-decoration: none;
    background-size: cover;
}
.video__item:nth-child(1) {
    background-image: url(../../../images/Kamchatka.jpg);
}
.video__item:nth-child(2) {
    background-image: url(../../../images/Observatory.jpg); 
}
.video__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, 0.5);
    
}
.video__item:hover::before {
    background-color: rgba(42, 44, 47, 0.8);
}
@media all and (max-width: 1279px) {
    .video__item {
        width: calc((100% - 16px)/2);
    }
}
@media all and (max-width: 500px) {
    .video__item  {
        width: 100%;
    }
    .video__item:nth-child(1) {
        margin-bottom: 8px;
    }
}