.place__url-heading {
    font-family: 'Inter', Arial, sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0;
    text-transform: uppercase;
}
@media all and (max-width: 599px) {
    .place__url-heading {
        display: none;
    }
}